doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.bootcss.com/sco.js/1.1.0/css/sco.message.min.css')
    link(rel='stylesheet', href='http://github.hubspot.com/messenger/build/css/messenger.css')
    link(rel='stylesheet', href='http://github.hubspot.com/messenger/build/css/messenger-theme-future.css')

    script(src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js")
    script(src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src='https://cdn.bootcss.com/sco.js/1.1.0/js/sco.message.min.js')

    script(src='http://github.hubspot.com/messenger/build/js/messenger.js')
    script(src='http://github.hubspot.com/messenger/build/js/messenger-theme-future.js')
    
    
  body
    block content
