<div class='mr'>
    <div>
    	<p>网络相关工具</p>
    </div>
    <div>
    	<h4>域名转IP查询</h4>
    	<input type="text"/ id='domainName'>
    	<button type="button" class="btn btn-primary btn-sm" id='domainBtn'>查询</button>
    	<div id='ipAddress'></div>
    </div>
</div>

