<div class='mr tq'>
	<!-- <%= data%> -->
	<div>
		<label>请选择城市</label>
		<select name="province" id="province">
		</select>
		<select name="city" id="city"></select>
		<input type="button" value='查询' id='tqBtn' class='btn btn-primary btn-sm'/>
	</div>
	<div style='height:300px'>
		
	</div>
</div>
