<div class='mr'>
    <div class='pd_bottom_5'>
        <button class='btn btn-primary btn-sm' id='addBtn'>创建</button>
    </div>
    <table class="table">
        <thead style='text-align: center;'>
            <tr>
                <th>编号</th>
                <th>创建时间</th>
                <th style="width:70%">内容</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="demo">
        <div id="demo4"></div>
    </div>
    <div id="paginationdemo" class="demo" >
        <div id="demo5"></div>
    </div>
</div>
<div id="dialog" title="新建工作任务" class='hide_display'>
    <textarea class='addTextArea' style='width:450px;height:180px;margin:0 auto'></textarea>
    <div class='fr pd_top_5'>
        <input type="button" value='add' class='btn btn-primary btn-sm' id='add'>
        <input type="button" value='cancel' class='btn btn-primary btn-sm' id='cancel'>
    </div>
</div>
<div id="item" title="内容">
</div>